
@{
    ViewData["Title"] = "Contact";
}

<style>
    .leftM {
        margin-left: 40px;
    }
</style>

<h1>Contact</h1>

<h4> 操作のトラブルや質問については以下にご連絡ください.. </h4>

<h4>
    京西テクノス株式会社 インストルメントサービス部 １Gr 
</h4>

    <p class="leftM">庄子 茂 </p>
    <p class="leftM">Tel: 090-9313-1451 </p>
    <p class="leftM">e-mail: shigeru-shouji@kyosaitec.co.jp</p>
    <p class="leftM">〒206-0041　東京都多摩市愛宕4-25-2</p>
    <h4>
        庄子 茂
    </h4>
<h4>
    class="leftM">e-mail: ytoyoda@jcom.zaq.ne.jp Tel 080-1236-1865
</h4>