
@{
    ViewData["Title"] = "Documents";
}

<h1>Documents</h1>

<p><a href="https://csmfasml.blob.core.windows.net/manual/CSMfASML40.pdf" rel="external" target="_blank" class="col-lg-offset-1">操作マニュアル</a></p>

<p>User Manual Version1</p>
