
@{
    ViewData["Title"] = "History";
}
<style>
    p {
        font-size: 18px;
    }
</style>
<h1> History</h1>
<br/>
<br />
<p>
    ver 4.00 : 2020-11-30 This version runs on Edge and Chrome (Silverlight plug-in and IE aren't necessary)
</p>
<p>
    ver 3.12 : 2017-07-10 DB Structure is modified for In Cal. Old data In Cal are moved to backup.
</p>

<p>
    ver 3.11 : 2017-06-26 TAT-STATUS is added on In Cal and downloaded excel from In Cal
</p>
<p>
    ver 3.1 : 2017-02-06 Embedded html table is editable on CSM, To Each Warehouse implemented.
</p>
<p>
    ver 3.0 : 2017-01-31 Mail function was enhanced (Embedded html table)
</p>
<p>
    ver 2.5 : 2016-12-01 Product Information added (Manufacture, Name, Model, P.S/N)
</p>
<p>
    ver 2.4 : 2016-12-01 Single click to select item.
    Tools in "In Cal" are not shown when filtered by cal due.
    Cal Date is set when cal date is updated in "In Cal"
</p>
<p>
    ver 2.3 : 2016-10-28 Std_TAT is shown on Tools.
    Send Mail is selectable after adding tools to 'In Cal'
</p>
<p>
    ver 2.2 : 2016-10-21 Filters were available in Material page.
    Cal in Progress page was modified to show original Plant.
</p>
<p>
    ver 2.1 : 2016-10-19 Cal in Progress page was modified for user to add tools.
</p>
<p>
    ver 2.0 : 2016-10-07 Cal in Progress page was added.
</p>
<p>
    ver 1.3 : 2016-09-26 filter by Slection was added.
</p>
<p>
    ver 1.2 : 2016-09-12 Minor bugs were fixed.
</p>
<p>
    ver 1.1 : 2016-09-07 Released to ASML users. Send Mail function was added.
</p>
<p>
    ver 1.0 : 2016-04-27 Initial Release
</p>
