@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
<style>
    p {
        font-size: 18px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Calibration Status Manager for ASML Japan - Version 4.03</h4>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p> by 京西テクノス株式会社 </p>
    <br />
    <p>ver 4.03 : 2023-01-08 Beta test version for deployment.</p>
    <br /> 
    @if (SignInManager.IsSignedIn(User))
    {

        <p><a href="https://csmfasml.blob.core.windows.net/manual/CSMfASML40.pdf" rel="external" target="_blank" class="col-lg-offset-1 fsl">操作マニュアル</a></p>
    }
</div>