@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
<style>
    p {
        font-size: 18px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Calibration Status Manager for ASML Japan - Version 4 (Trial)</h4>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>
        ver 4.00 : 2020-11-30 This version runs on Edge and Chrome (Silverlight plug-in and IE aren't necessary)
    </p>
    @if (SignInManager.IsSignedIn(User)) {

        <p><a href="https://csmfasml.blob.core.windows.net/manual/CSMfASML40.pdf" rel="external" target="_blank" class="col-lg-offset-1 fsl">操作マニュアル</a></p>
    }
