@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<CsmForAsml.Models.CalInProcess>
@{
    ViewData["Title"] = "Cal in Process";
}
<h1>Cal in Process</h1>
<div class="filterPannel">
    <div class="flex">
        <div id="b1">

            <div class="row" id="filter-row1">
                <div class="col-md-3">
                    <label>Plant</label>
                </div>
                <div class="col-md-3">
                    <label>CalPlace</label>
                </div>
                <div class="col-md-3">
                    <label>Material</label>
                </div>
                <div class="col-md-3">
                    <label>Serial</label>
                </div>
            </div>

            <div class="row" id="filter-row2">
                <div class="col-md-3">

                    <select id="selectPlant" name="Plant">
                        <option value="sample">Plant</option>
                    </select>
                </div>
                <div class="col-md-3">

                    <select id="selectCalPlace" name="CalPlace">
                        <option value="sample">CalPlace</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <select id="selectMaterial" name="MaterialPd">
                        <option value="sample">Material</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="selectSerial" name="SerisePd">
                        <option value="sample">Serial</option>
                    </select>
                </div>

            </div>

            <div class="row" id="checkfilter" style="align-items: center;">
                <div class="col-md-1">
                    <button id="clrSelBtn">Clr</button>
                </div>
                <div class="col-md-3">
                    <p class="text-right">Filter by Selection</p>
                </div>
                <div class="col-md-2">
                    <input type="radio" id="rd00" name="filBySel" value="0" checked="checked">Off
                </div>
                <div class="col-md-2">
                    <input type="radio" id="rd01" name="filBySel" value="1">Selected
                </div>
                <div class="col-md-3">
                    <input type="radio" id="rd02" name="filBySel" value="2">Unselected
                </div>

            </div>

        </div>


        <div class="tabs" id="b2" style="font-size: xx-small">
            <div class="row" style="margin-left: 0; align-items: baseline;">
                <div class="col-md-3" style="padding:2px 2px 2px 0px">
                    <button id="clrAllFil" style="float: left;">全フィルタクリア</button>
                </div>
                <div class="col-md-offset-1  col-md-3" style="padding:2px 2px 2px 0px">
                    <button id="clrDateFil">日付フィルタクリア</button>
                </div>
            </div>

            <input id="input1" type="radio" name="tab_item" value="1" checked>
            <label class="tab_item" for="input1">ASML発送日</label>
            <input id="input2" type="radio" name="tab_item" value="2">
            <label class="tab_item" for="input2">受領日</label>
            <input id="input3" type="radio" name="tab_item" value="3">
            <label class="tab_item" for="input3">校正実施日</label>
            <input id="input4" type="radio" name="tab_item" value="4">
            <label class="tab_item" for="input4">予定出荷日</label>
            <input id="input5" type="radio" name="tab_item" value="5">
            <label class="tab_item" for="input5">返送出荷日</label>
            <input id="input6" type="radio" name="tab_item" value="6">
            <label class="tab_item" for="input6">ASML受領日</label>
            <input id="input7" type="radio" name="tab_item" value="7">
            <label class="tab_item" for="input7">CC受領日</label>
            <input id="input8" type="radio" name="tab_item" value="8">
            <label class="tab_item" for="input8">CC登録日</label>

            <div class="tab_content" id="content0" style="font-size:xx-small; padding: 0; margin: 0">
                <div class="row">
                    <!-- <div class="col-md-1 text-right">
                        <label>ASML出荷日</label>
                      </div> -->
                    <div class="col-md-2">
                        <input type="radio" id="cdr0" name="date1Radio" value="0" checked="checked">Off
                    </div>
                    <div class="col-md-1">
                        <input type="radio" id="cdr1" name="date1Radio" value="1">末
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="cdr2" name="date1Radio" value="2">今月
                    </div>
                    <div class="col-md-2">
                        <input type="radio" id="cdr3" name="date1Radio" value="3">先月
                    </div>
                    <!-- 　次のボタンは非表示 -->
                    <div style="display: none;">
                        <input type="radio" id="cdr4" name="date1Radio" value="4">From-TO
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <label>From</label>
                            <input type="text" name="from" id="date1From" class="datepicker" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="row">
                            <label>To</label>
                            <input type="text" name="To" id="date1To" class="datepicker" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end of <div class="tabs"> -->
</div> <!-- end of class="filterPannelInner" -->


<div class="grid-area" id="myGrid">
</div>


<div class="fnkey-area">
    <div class="row">
        <div class="col-md-6 fsm">
            Showing
            <label id="NumShowing" class="fsm"> nnn </label>
            of Total
            <label id="NumTotal" class="fsm"> mmm </label>
            rows data.  
        </div>
    </div>
    <div class="row" style="margin-left: 20px;">
        <div class="col-md-2 pad2">
            <button id="fnkey2" class="bgyellow">Cal History</button>
        </div>
        <div class="col-md-2 pad2">
            <button id="fnkey3" class="bgyellow">Latest Cal Cert</button>
        </div>
        @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "KyosaiUser")
              || await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Supplier")
              || await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrator"))
        {
            <div class="col-md-2 pad2">
                <button id="fnkey4" class="bgyellow">P.Info</button>
            </div>
        }
        <div class="col-md-2 pad2">
            <button id="fnkey1">Download</button>
        </div>
        <div class="col-md-2 pad2">
            <button id="fnkey5">Set Event Dates</button>
        </div>
        <div class="col-md-2 pad2">
            <!--
    <button id="fnkey6">完了設定</button>
        -->
        </div>

    </div>
</div>
<!--  modal input pannel for event and date  from here -->
<div id="dialog-pannel" title="日付・結果入力" style="display:none">
    <br>
    <p id="d-message" class="dialog-panel__message fsm" role="document">
        イベントを選んでください dialog-pannel
    </p>
    
    <div class="fsm mglw">
        <input type="radio" id="r0" name="dlprd1" value="1">ASML発送日<br>
        <input type="radio" id="r1" name="dlprd1" value="2">受領日<br>
        <input type="radio" id="r2" name="dlprd1" value="3">校正実施日<br>
        <input type="radio" id="r3" name="dlprd1" value="5">返送出荷日<br>
        <input type="radio" id="r4" name="dlprd1" value="6">ASML受領日<br>
        <input type="radio" id="r5" name="dlprd1" value="7">証明書受領日<br>
    </div>
    <br />
    <p id="d-message2" class="dialog-panel__message fsm" role="document">
        上のイベントの日付を選んでください
    </p>

    <label class="col-md-offset-2 col-md-4 fsl" id="dlpDateLabel1">日付</label>
    <input type="text" id="dlpdi1" width="160" class="datepicker fsl" />

    <br />
    @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "KyosaiUser")
              || await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Supplier")
             || await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Administrator")) {
        <!-- area for enable, disable switch -->
    }

</div>

<!--  modal input pannl "dp-calResult" start from here -->
<div id="dp-calResult" title="Set Cal Result" style="display:none" class="fsl">
    <label id="lblcrSerial" class="fsl">Serial</label>
    <br />
    <label class="fsl" id="caldateIn">校正実施日</label>
    <br />
    <div class="row fsl">
        校正結果
        <select id="dlpCalResult">
            <option value="--">--</option>
            <option value="GD">合格</option>
            <option value="NG">不合格</option>
            <option value="NOCAL">校正対象外</option>
            <option value="none">未実施</option>
        </select>
    </div>
    <br />
    <p class="fsl">コメント</p>
    <textarea name="comments" id="calResultComm" cols="40" rows="4"></textarea>
</div>
<!--  end of "dp-calResult" -->
<!--  modal input pannel for event and date  from here -->
<div id="dialog-pannel2" title="日付・結果入力">
    <br>
    <div id="dlpSerial" class="col-md-12 fsl"></div>
    <br>
    <div class="col-md-12 fsl">
        日付をセットするイベントを選んでください dp2
    </div>

    <div class="row">
        <div class="col-md-4 fsm">
            <input type="radio" id="rr0" name="dlprd2" value="1" checked="checked">ASML発送日
        </div>
        <label class="col-md-4 fsm" id="dlpdl1"></label>
    </div>

    <div class="row">
        <div class="col-md-4 fsm">
            <input type="radio" id="rr1" name="dlprd2" value="2">受領日<br>
        </div>
        <label class="col-md-4 fsm" id="dlpdl2"></label>
    </div>

    <div class="row">
        <div class="col-md-4 fsm">
            <input type="radio" id="rr2" name="dlprd2" value="3">校正実施日<br>
        </div>
        <label class="col-md-4 fsm" id="dlpdl3"></label>
    </div>

    <div class="row">
        <div class="col-md-4 fsm">
            <input type="radio" id="rr3" name="dlprd2" value="5">返送出荷日<br>
        </div>
        <label class="col-md-4 fsm" id="dlpdl4"></label>
    </div>

    <div class="row">
        <div class="col-md-4 fsm">
            <input type="radio" id="rr4" name="dlprd2" value="6">ASML受領日<br>
        </div>
        <label class="col-md-4 fsm" id="dlpdl5"></label>
    </div>

    <div class="row">
        <div class="col-md-4 fsm">
            <input type="radio" id="rr5" name="dlprd2" value="7">証明書受領日<br>
        </div>
        <label class="col-md-4 fsm" id="dlpdl6"></label>
    </div>
    <br>
    <p id="d-message22" class="dialog-panel__message fsl" role="document">
        イベントの日付を入力してください
    </p>

    <label class="col-md-offset-2 col-md-4 fsl" id="dlpDateLabel2">日付</label>
    <input type="text" id="dlpdi2" width="160" class="datepicker fsl" />

    <br>
    <div class="calResultBlock2" id="calRes2" style="font-size: medium; display:none">
        <div class="row">
            <div class="col-md-4 fsl">
                校正結果
            </div>
            <select id="dlpCalResult2" class="col-md-4 fsl">
                <option value="--">--</option>
                <option value="non"></option>
                <option value="GD">合格</option>
                <option value="NG">不合格</option>
                <option value="NOCAL">校正対象外</option>
                <option value="none">未実施</option>
            </select>
        </div>
        <div class="col-md-10 row fsl">
            コメント
        </div>
        <textarea name="comments" id="dlpcci2" cols="54" rows="4"></textarea>

    </div>
</div>
<!--  end of modal input pannel for event and date  from here -->
<!--  modal input pannl "dp-productInfo" start from here -->
<div id="dp-productInfo" title="Set ProductInfo" style="display:none" class="fsl">
    <br>
    <p id="lblSerial" class="fsl">Serial</p>
    <p id="lblMaterial" class="fsl">Material</p>
    <p class="fsl" role="document">
        このツールの製品情報の入力
    </p>
    <div class="fsl">
        <p class="fsl">Product Maker <input type="text" id="PMaker" size="40" maxlength="60"></p>
        <p class="fsl">Product Model <input type="text" id="PModel" size="40" maxlength="60"></p>
        <p class="fsl">Product Name  <input type="text" id="PName" size="40" maxlength="60"></p>
        <p class="fsl">Serial Number <input type="text" id="PSerial" size="40" maxlength="60"></p>
    </div>
</div>
<!--  end of "dp-productInfo" -->
<!--  modal input pannl "dp-SaveStatus" start from here -->
<div id="SaveStatus" title="Saved to Database" class="fsl">
    <br>
    <p class="dialog-panel__message fsl">
        以下の変更をデータベースに保存しました
    </p>
    <div class="row">
        <ul id="messagesList" class="fsl"></ul>
    </div>
    <div id="FailP" 　class="hiddenBlock">
        <p id="FailM" class="dialog-panel__message fsl hiddenBlock">
            以下の変更はエラーにより保存されませんでした
        </p>
        <div class="row">
            <ul id="messagesListFail" class="fsl"></ul>
        </div>
    </div>


</div>
<!--  end of "dp-SaveStatus" -->


@section scripts{
    <!--
        <script src="~/lib/slickgrid/slick.core.min.js"></script>
        <script src="~/lib/slickgrid/slick.grid.min.js"></script>
        <script src="~/lib/slickgrid/slick.formatters.js"></script>
        <script src="~/lib/slickgrid/slick.editors.js"></script>
        <script src="~/lib/slickgrid/slick.dataview.min.js"></script>
        <script src="~/lib/slickgrid/plugins/slick.rowselectionmodel.min.js"></script>
        <script src="~/lib/slickgrid/plugins/slick.checkboxselectcolumn.js"></script>
        <script src="~/lib/slickgrid/controls/slick.pager.js"></script>
        <script src="~/lib/slickgrid/controls/slick.columnpicker.js"></script>
        //　all of js files, listed above were bundled to "slick.min.js"
    -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/Slick.formatters.js"></script>
    <script src="~/js/InCal20230101.js?0105"></script>

}
