
@model IEnumerable<CsmForAsml.Models.ToolInventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Tools Inventory</h1>

<div class="filterPannel">

    <div class="flex">
        <div id="b1">

            <div class="row" id="filter-row1">
                <div class="col-md-3">
                    <label>Plant</label>
                </div>
                <div class="col-md-3">
                    <label>CalPlaace</label>
                </div>
                <div class="col-md-3">
                    <label>Material</label>
                </div>
                <div class="col-md-3">
                    <label>Serial</label>
                </div>
            </div>

            <div class="row" id="filter-row2">
                <div class="col-md-3">

                    <select id="selectPlant" name="Plant">
                        <option value="sample">Plant</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="selectCalPlace" name="CalPlace">
                        <option value="sample">CalPlace</option>
                    </select>

                </div>
                <div class="col-md-3">
                    <select id="selectMaterial" name="Material">
                        <option value="sample">Material</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select id="selectSerial" name="Serial">
                        <option value="sample">Serial</option>
                    </select>
                </div>
            </div>

            <div class="row" id="checkfilter">
                <div class="col-md-1">
                    <button id="clrSelBtn">Clr</button>
                </div>
                <div class="col-md-3">
                    <p class="text-right">Filter by Selection</p>
                </div>
                <div class="col-md-2">
                    <input type="radio" name="filBySel" value="0" checked="checked">Off
                </div>
                <div class="col-md-2">
                    <input type="radio" name="filBySel" value="1">Selected
                </div>
                <div class="col-md-3">
                    <input type="radio" name="filBySel" value="2">Unselected
                </div>

            </div>

        </div>

        <!-- <div id="b2"> -->
        <div class="tabs" id="b2">
            <div class="row" style="margin-left: 0" 　>
                <div class="col-md-3" style="padding:2px 2px 2px 0px">
                    <button id="clrAllFil" style="float: left;">全フィルタクリア</button>
                </div>
                <div class="col-md-offset-1  col-md-3" style="padding:2px 2px 2px 0px">
                    <button id="clrDateFil">日付フィルタクリア</button>
                </div>
            </div>
            <input id="input1" type="radio" name="tab_item" value="1" checked>
            <label class="tab_item-4" for="input1">Cal Due</label>
            <input id="input2" type="radio" name="tab_item" value="2">
            <label class="tab_item-4" for="input2">Latest Cal Date</label>
            <input id="input3" type="radio" name="tab_item" value="3">
            <label class="tab_item-4" for="input3">Safety Due</label>
            <input id="input4" type="radio" name="tab_item" value="4">
            <label class="tab_item-4" for="input4">Latest Safety</label>

            <div class="tab_content" id="content1">
                <div class="row">

                    <div class="col-md-2">
                        <input type="radio" name="rdCalDue" value="0" checked="checked">Off
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="rdCalDue" value="1">OverDue
                    </div>
                    <div class="col-md-2">
                        <p class="cp_tooltip">
                            <span data-tooltip="Due within This Month" class="cp_tooltiptext">
                                <input type="radio" name="rdCalDue" value="2">Due TM
                            </span>
                        </p>
                    </div>
                    <!-- 　次のボタンは非表示 -->
                    <div style="display: none;">
                        <input type="radio" name="rdCalDue" value="4">From-TO
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <label style="font-size: xx-small">From</label>
                            <input type="text" name="From" id="din0From" class="datepicker" />
                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="row">
                            <label style="font-size: xx-small">To</label>
                            <input type="text" name="To" id="din0To" class="datepicker" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab_content row" id="content2">
                <div class="row align-items-start">
                    <div class="col-md-2">
                        <input type="radio" name="rdCalDate" value="0" checked="checked">Off
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="rdCalDate" value="1">This Month
                    </div>
                    <div class="col-md-2">
                        <p class="cp_tooltip">
                            <span data-tooltip="In Previous Month" class="cp_tooltiptext">
                                <input type="radio" name="rdCalDate" value="2">Prev.M
                            </span>
                        </p>
                    </div>
                    <!-- 　次のボタンは非表示 -->
                    <div style="display: none;">
                        <input type="radio" name="rdCalDate" value="4">From-TO
                    </div>

                    <div class="col-md-3">
                        <label>From</label>
                        <input type="text" name="From" id="din1From" class="datepicker" />
                    </div>
                    <div class="col-md-3">
                        <label>To</label>
                        <input type="text" name="To" id="din1To" class="datepicker" />
                    </div>
                </div>
            </div>

            <div class="tab_content row" id="content3">
                <!-- <label>Safety Due data</label> -->
                <div class="row  align-items-start">
                    <div class="col-md-2">
                        <input type="radio" name="rdSDue" value="0" checked="checked">Off
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="rdSDue" value="1">OverDue
                    </div>
                    <div class="col-md-2">
                        <p class="cp_tooltip">
                            <span data-tooltip="Due within This Month" class="cp_tooltiptext">
                                <input type="radio" name="rdSDue" value="2">Due TM
                            </span>
                        </p>
                    </div>
                    <!-- 　次のボタンは非表示 -->
                    <div style="display: none;">
                        <input type="radio" name="rdSDue" value="4">From-TO
                    </div>

                    <div class="col-md-3">
                        <label>From</label>
                        <input type="text" name="From" id="din2From" class="datepicker" />
                    </div>
                    <div class="col-md-3">
                        <label>To</label>
                        <input type="text" name="To" id="din2To" class="datepicker" />
                    </div>
                </div>
            </div>

            <div class="tab_content row" id="content4">
                <div class="row  align-items-start">
                    <!-- <label>最新 Safety Date</label> -->
                    <div class="col-md-2">
                        <input type="radio" name="rdSDate" value="0" checked="checked">Off
                    </div>
                    <div class="col-md-2">
                        <input type="radio" name="rdSDate" value="1">This Month
                    </div>
                    <div class="col-md-2">
                        <p class="cp_tooltip">
                            <span data-tooltip="In Previous Month" class="cp_tooltiptext">
                                <input type="radio" name="rdSDate" value="2">Prev.M
                            </span>
                        </p>
                    </div>
                    <!-- 　次のボタンは非表示 -->
                    <div style="display: none;">
                        <input type="radio" name="rdSDate" value="4">From-TO
                    </div>

                    <div class="col-md-3">
                        <label>From</label>
                        <input type="text" name="From" id="din3From" class="datepicker" />
                    </div>
                    <div class="col-md-3">
                        <label>To</label>
                        <input type="text" name="To" id="din3To" class="datepicker" />
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end of class="filterPannel" -->

<div class="grid-area" id="myGrid"></div>

<div class="fnkey-area">
    <div class="row">
        <div class="col-md-6" style="font-size: small;">
            Showing
            <label id="NumShowing" style="font-size: small;"> xxxx </label>
            of Total
            <label id="NumTotal" style="font-size: small;"> mmmm </label>
            rows data.
        </div>
    </div>

    <div class="row" style="margin-left: 20px;">
        <div class="col-md-2" style="padding:2px 2px 2px 2px">
            <button id="fnkey2" class="bgyellow">Cal History</button>
        </div>
        <div class="col-md-2" style="padding:2px 2px 2px 2px">
            <button id="fnkey3" class="bgyellow">Latest Cal Cert</button>
        </div>
        <div class="col-md-2" style="padding:2px 2px 2px 2px">
            <button id="fnkey1">Download</button>
        </div>
        <div class="col-md-offset-2 col-md-2" style="padding:2px 2px 2px 2px">
            <button id="fnkey4">Move to Incal</button>
        </div>

    </div>
</div>

<!--  modal input panel for event and date  from here -->
<div id="dpMovedToInCal" title="登録しました" style="display:none" class="fsl">
    <br>
    <p id="d-message01A" class="dialog-panel__message fsl" role="document">
        以下の Serial Number は In-Cal に登録されました。
    </p>
    <div class="fsl">
        <ul id="serialField">
        </ul>
    </div>
</div>
<!--  end of modal input panel "dialog-panel"   -->
<!--  modal input panel for event and date  from here -->
<div id="dpRefusedToMove" title="登録できません" style="display:none">

    <p id="dlpSerial4" class="fsl"></p>
    <br />
    <p id="d-message04" class="dialog-panel__message fsm" role="document">
        上記 Serial Number は既に In-Cal　に登録されて校正待ちです。　重ねて In-Cal に登録することはできません。
    </p>

</div>
<!--  end of modal input panel "dialog-panel"   -->
<!--  modal input panel for event and date  from here -->
<div id="dpDoYouMove" title="In-Cal に登録しますか" style="display:none">

    <p id="dlpSerial5" class="fsl"></p>
    <br />
    <p id="d-message05" class="dialog-panel__message fsm" role="document"></p>
</div>
<!--  end of modal input panel "dialog-panel"   -->

@section scripts{
    <!--
        <script src="~/lib/slickgrid/slick.core.min.js"></script>
        <script src="~/lib/slickgrid/slick.grid.min.js"></script>
        <script src="~/js/slick.formatters.js"></script>
        <script src="~/lib/slickgrid/slick.editors.js"></script>
        <script src="~/lib/slickgrid/slick.dataview.min.js"></script>
        <script src="~/lib/slickgrid/plugins/slick.rowselectionmodel.min.js"></script>
        <script src="~/lib/slickgrid/plugins/slick.checkboxselectcolumn.js"></script>
        <script src="~/lib/slickgrid/controls/slick.pager.js"></script>
        <script src="~/lib/slickgrid/controls/slick.columnpicker.js"></script>
    -->
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/Inventory.js"></script>
}
